<footer>
    <div class="footer-info">
        <div class="footer-info-social-links">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="footer-info-brand">
            <a>&copy WanderLust Ltd</a>
        </div>
        <div class="footer-info-polices">
           <a href="#">Privacy</a>
           <a href="#">Terms</a>
        </div>
    </div>
    
</footer>
