<% layout("/layouts/boilerplate") %>


<div class="index row">
  <div class="scroll-wrapper col-xl-9 col-lg-8 col-md-6 col-sm-3 ">
    <div class="scroll-indicator left-indicator mr-3">&lt;</div> <!-- Left indicator -->
    <div id="filters">
      <a class="nav-link active" href="/listings/filter/trending">
        <div class="filter">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>trending</p>
        </div>
      </a>
      <!-- Other filter options here -->
      <a class="nav-link active" href="/listings/filter/beaches">
        <div class="filter">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>castles</p>
        </div>
      </a>
      <a class="nav-link active" href="/listings/filter/pools">
        <div class="filter">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>pools</p>
        </div>
      </a>
      <a class="nav-link active" aria-current="page" href="/listings/filter/rooms">
        <div class="filter nav-link active">
          <div><i class="fa-solid fa-house"></i></div>
          <p>rooms</p>
        </div>
      </a>
      <a class="nav-link active" aria-current="page" href="/listings/filter/mansion">
        <div class="filter nav-link active">
          <div><i class="fa-solid fa-water-ladder"></i></div>
          <p>mansions</p>
        </div>
      </a>
      <a class="nav-link active" aria-current="page" href="/listings/filter/mountains">
        <div class="filter nav-link active">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>mountains</p>
        </div>
      </a>
      <a class="nav-link active" aria-current="page" href="/listings/filter/beaches">
        <div class="filter nav-link active">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <p>beach</p>
        </div>
      </a>
      
    </div>
    <div class="scroll-indicator right-indicator ml-3">&gt;</div> <!-- Right indicator -->
  </div>
  <div class="tax-toggle col-xl-3 col-lg-4 col-md-6 col-sm-9 ">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Display total after including taxes</label>
    </div>
  </div>  
</div>



<div class="AllCard row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3 ">
  <% for(let listing of listings){ %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col  listing-card">
      <img class="card-img-top index-img" src="<%= listing.img.url %>" alt="Card image cap" style="height: 20rem;">
      <div class="card-img-overlay"></div>
      <div class="card-body ">
        <p class="card-text"><b>
            <%=listing.title%>
          </b><br>
          &#x20b9 <%=listing.cost.toLocaleString("en-IN")%> /Night
          <i class="tax-info " style="display: none;"> +18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script src="/js/index2.js"></script>

