<% layout("/layouts/boilerplate.ejs") %>
<body>
    
    <div class="row">
    <div class="col-8 offset-2">
    <form method="post" action="/listings"  novalidate class="needs-validation" enctype="multipart/form-data">
        <h4>Create New Lsiting</h4>
        <div class="mb-3">
            <label for="title" class="form-label" >Title</label>
            <input name="listing[title]" type="text"  placeholder="Title"  class="form-control" required>
            <div class="invalid-feedback">
                Enter a Title
            </div>
            <div class="valid-feedback">
                Title looks good
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]"   placeholder="description" class="form-control" required></textarea>
            <div class="invalid-feedback">
                Describe the listing
            </div>
            <div class="valid-feedback">
                Description looks good
            </div>
        </div>
        <div class="mb-3" >
            <label for="Image" class="form-label">Upload image</label>
            <input name="listing[img]" type="file" placeholder="URL of image" class="form-control" required ></textarea>
            
        </div>    
        
        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="Place" class="form-label">Location</label>
                <input name="listing[place]" type="text"  placeholder="Place" class="form-control" required>
                <div class="invalid-feedback">
                    Enter place of listing
                </div>
                <div class="valid-feedback">
                    looks good
                </div>
            </div>
            <div class="mb-3 col-md-6" >
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" type="text" placeholder="Country" class="form-control" required>
                <div class="invalid-feedback">
                    Enter country name
                </div>
                <div class="valid-feedback">
                    looks good
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6" >
                <label for="Price" class="form-label">Price</label>
                <input name="listing[cost]" type="number"  placeholder="Price" class="form-control" required>
                <div class="invalid-feedback">
                    Enter a price
                </div>
                <div class="valid-feedback">
                    price looks good
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <label for="category" class="form-label">Category</label>
                <select name="category" form="myForm" class="form-control" required>
                    <option value="castles">Castle</option>
                    <option value="beaches">Near a Beach</option>
                    <option value="mountains">Near a mountain</option>
                    <option value="mansion">Mansion</option>
                    <option value="rooms">A small room</option>
                    <option value="pools">Have a pool</option>
                </select>
            </div>
            
        </div>
        <button class="btn btn-dark edit-btn mb-3">Add</button>
    </form>
    </div>
</div>
</body>