<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <div class="col-6 offset-3">
    <h4 class="mt-3">SignUp</h4>
    <form method="post" action="/signup" novalidate class="needs-validation mt-3">
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input
          name="username"
          type="text"
          placeholder="Ramesh"
          class="form-control"
          required
        />
        <div class="valid-feedback">looks good</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input
          name="email"
          type="email"
          placeholder="abc@gmail.com"
          class="form-control"
          required
        />
        <div class="valid-feedback">looks good</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">looks good</div>
        <button class="btn btn-success mt-3">Signup</button>
      </div>
    </form>
  </div>
</div>
